*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
img{
    height: 4rem;
}
header{
    padding: 1rem;
    border: 3px solid black;
    margin-bottom: 50px;
}
h1{
    display: inline-block;
    vertical-align: top;
    font-size: 3rem;
}
.font-type{
    /*font-style: Arial;*/
}
.background-white{
    background-color: #FFFFFF;
}
.nav-container{
    width: 1000px;
    height: 80px;
    background-color: #FFFFFF;
    margin: auto;  
    padding-left: 6rem;
    padding-top: 1.8rem;
}
.list-container{
    width: 1000px;
    height: 1200px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 2px;
    padding-left: 6rem;
}
button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
}
.button-blue{
    color: white;
    background-color: #47ADF1;
    border: #47ADF1;
}
.button-grey{
    color: lightgray;
    background-color: #ECEFF0;
    border: #ECEFF0;
}
