*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
img{
    height: 4rem;
}
header{
    padding: 1rem;
    border: 3px solid black;
    margin-bottom: 50px;
}
h1{
    display: inline-block;
    vertical-align: top;
    font-size: 3rem;
}
.font-type{
    /*font-style: Arial;*/
}
.background-white{
    background-color: #FFFFFF;
}
.nav-container{
    width: 1000px;
    height: 80px;
    background-color: #FFFFFF;
    margin: auto;  
    padding-left: 6rem;
    padding-top: 1.8rem;
}
.list-container{
    width: 1000px;
    height: 1200px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 2px;
    padding-left: 6rem;
}

.nav-button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
}
button{
    border: transparent;
    color: white;
}
.button-blue{
    background-color: #47ADF1;
}
.button-grey{
    color: grey;
    background-color: #ECEFF0;
    border:1px solid grey;
}
ul{
    font-size: 1.3rem;
}
.list-button{
    height: 28px;
    width: 80px;
    border-radius: 15px;
}
h2{
    padding-top: 30px;
}
.button-violet{
background-color:#9C72E4 ;
}
.button-green{
    background-color:#8DD4C4 ;
}
.button-orange{
    background-color: #F29E33;
}
.button-pink{
    background-color:#D863A1 ;
}
.button-gold{
    background-color: #B0C926;
}